
.manzana{
color: #ff0000;
}
.banana{
    color:#ffff00
}
.pera{
    color:#ffff00
}
.uva{
    color: #8a2be2;
}
.melon{
    color:#ffff00 ;
}
.kiwi{
    color: #008000;;
}
.naranja{
    color: #ffa500;
}
.sandia{
    color:#008000 ;
}
.cereza{
    color:#ff0000
}
.ciruela{
    color: #8a2be2;
}