.clima1{
    background-color: #00008B;
    font-size: 25px;
    width: 100px;
    height: 30px;
    color: #ffff;
    text-align: center;
}
.clima2{
    background-color:#0000CD;
    font-size: 25px;
    width: 100px;
    height: 30px;
    color: #ffff;
    text-align: center;
 }

.clima3{
    background-color: #0000FF;
    font-size: 25px;
    width: 100px;
    height: 30px;
    color: #ffff;
    text-align: center;
}
.clima4{
    background-color: #4169E1;
    font-size: 25px;
    width: 100px;
    height: 30px;
    color: #ffff;
    text-align: center;
}
.clima5{
    background-color: #FFA500;
    font-size: 25px;
    width: 100px;
    height: 30px;
    color: #ffff;
    text-align: center;
}
.clima6{
    background-color:#FF8C00;
    font-size: 25px;
    width: 100px;
    height: 30px;
    color: #ffff;
    text-align: center;
}
.clima7{
    background-color: #FF8C00;
    font-size: 25px;
    width: 100px;
    height: 30px;
    color: #ffff;
    text-align: center;
}
.clima8{
    background-color: #FF4500;
    font-size: 25px;
    width: 100px;
    height: 30px;
    color: #ffff;
    text-align: center;
}
.clima9{
    background-color: #Ff0000;
    font-size: 25px;
    width: 100px;
    height:30px ;
    color: #ffff;
    text-align: center;
}
.clima10{
    background-color: #8B0000;
    font-size: 25px;
    width: 100px;
    height: 30px;
    color: #ffff;
    text-align: center;
}
.clima11{
    background-color: #800000 ;
    font-size: 25px;
    width: 100px;
    height: 30px;
    color: #ffff;
    text-align: center;
}