:root{
    --Black: #141414;
    --White: #f3f1f1;
    --base-font: "nanum gothic";
    --hover: rgb(139, 139, 139);
    --button-white: rgba(255, 255, 255, 0.73);
    --button-gray: rgba(128, 128, 128, 0.509);
}

body{
    background-color: var(--Black);
    font-family: var(--base-font);
    color: var(--White);
}

a{
    color: var(--White);
    text-decoration: none;
}

header{
    background-color: transparent;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: black;
}

header .barraup{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}


header .barraup .iconoup img{
    height: 4rem;
    width: 8rem;
}

header .barraup .barraup2{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: end;
}

header .barraup .barraup2 a {
    display: block;
    padding: 15px;
}

header .barraup .barraup2 a:hover{
    color: gray;
}

header .barraup .barraup2 p{
    font-size: 2rem;
}
