.online {
    position: absolute;
    bottom: 3%;
    right: 2%;
}
button {
    width: 12rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 36%;
    border:none;
    background-color: rgb(220, 224, 226);
}

button:hover{
    border-style: solid;
    cursor: pointer;
}

button img {
    width: 1rem;
}

h1 {
    font-size: 16px;
}