.f1 { background-color: #220114;
    font-family: 'Anek Telugu';
}
.f2{
   background-color:  #816288;
   font-family: 'Alumni Sans';
}
.f3{
   background-color: #bd3038;
   font-family: 'Open Sans';
}
.f4{
 background-color: #ff7e57;
 font-family: 'Noto Serif';
}
.f5{
   background-color:  #f8d068;
   font-family: 'Open Sans';
}
.a{
  background-color:  #322938;
  font-family: 'Alumni Sans';
}
.b{
   background-color:  #89a194;
   font-family: 'Alumni Sans';
}
.c{
   background-color:  #cfc89a;
   font-family: 'Open Sans';
}
.d{
   background-color:  #cc883a;
   font-family: 'Anek Telugu';
}
.e{
   background-color:  #a14016;
   font-family: 'Noto Serif';
}
.a1{
   background-color:  #ffab03;
   font-family: 'Anek Telugu';
}
.b2{
   background-color:  #ff7f03;
   font-family: 'Anek Telugu';
}
.c3{
   background-color: #fc3903;
   font-family: 'Noto Serif';
}
.d4{
   background-color:  #d1024e;
   font-family: 'Alumni Sans';
}
.e5{
   background-color:#a6026c;
   font-family: 'Open Sans';
}